:root{
    --dark-text-color: #471323;
    --primary-color: #e6ccb9;
    --light-color: #fff;
    --dark-gradient: linear-gradient(0deg, #040539ff, #050539ff, #060538ff, #070638ff, #080637ff, #080637ff, #090637ff, #0A0636ff, #0B0736ff, #0C0736ff, #0D0735ff, #0E0735ff, #0F0734ff, #100834ff, #110834ff, #110833ff, #120833ff, #130933ff, #140932ff, #150932ff, #160931ff, #170931ff, #180A31ff, #190A30ff, #1A0A30ff, #1A0A30ff, #1B0A2Fff, #1C0B2Fff, #1D0B2Eff, #1E0B2Eff);
}

*{
    margin: 0;
    padding: 0;
    outline-style: transparent;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background: var(--dark-gradient);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.card{
    height: 60px;
    width: 320px;
    display: grid;
    place-items: center;
    font-family: ElMessiri;
    letter-spacing: 1px;
    font-size: 1.5rem;
    border-radius: 5px;
    background: #020338c7;
    box-shadow: 0px 0px 1px 0px #ffffff;
    color: #fff;
}
.card:hover{
    outline: solid 2px green;
    transform: translate(5px, -5px) rotate(-2deg);
}

.img-card{
    height: 320px;
    width: 320px;
    border-radius: 5px;
    background: #020338c7;
    box-shadow: 0px 0px 1px 0px #ffffff;
}