:root {
  --dark-color: #111;
  --light-color: #f1f1f1;
  --dark-gradient: linear-gradient(
    0deg,
    #040539ff,
    #050539ff,
    #060538ff,
    #070638ff,
    #080637ff,
    #080637ff,
    #090637ff,
    #0a0636ff,
    #0b0736ff,
    #0c0736ff,
    #0d0735ff,
    #0e0735ff,
    #0f0734ff,
    #100834ff,
    #110834ff,
    #110833ff,
    #120833ff,
    #130933ff,
    #140932ff,
    #150932ff,
    #160931ff,
    #170931ff,
    #180a31ff,
    #190a30ff,
    #1a0a30ff,
    #1a0a30ff,
    #1b0a2fff,
    #1c0b2fff,
    #1d0b2eff,
    #1e0b2eff
  );
  --simple-gradient: linear-gradient(90deg, #15177f, #a7272b);
}
* {
  margin: 0;
  padding: 0;
  outline-style: transparent;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
@font-face {
  font-family: "DancingScript";
  src: url(../font/DancingScript-Regular.ttf);
}
@font-face {
  font-family: "ElMessiri";
  src: url(../font/ElMessiri-Regular.ttf);
}

body {
  background: var(--dark-gradient);
}

main {
  min-height: 100vh;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  border-radius: 5px;
  background: #020338c7;
  box-shadow: 0px 0px 1px 0px #ffffff;
  z-index: 1;
}
#nameTag {
  width: 1000px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: appear 1s ease forwards;
  transition: all ease 0.3s;
}
#nameTag h1 {
  font-size: 6rem;
  font-family: DancingScript;
  transition: all ease 0.3s;
}
#nameTag p {
  font-size: 3rem;
  font-family: ElMessiri;
  transition: all ease 0.3s;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

@media (width<1000px) {
  #nameTag {
    width: 320px;
    height: 160px;
  }
  #nameTag h1 {
    font-size: 3rem;
  }
  #nameTag p {
    font-size: 1.5rem;
  }
  #related-content {
    flex-direction: column;
  }
}

.ray {
  position: absolute;
  animation: rising 15s linear infinite;
  width: 1px;
  height: 100px;
  border-radius: 1px;
  background: #f1f1f1;
}
@keyframes rising {
  from {
    transform: translate(0, 0) rotate(45deg);
  }

  to {
    transform: translate(1300px, -1300px) rotate(45deg);
  }
}
.pink {
  background: #b47eb1;
  box-shadow: 0px 0px 10px 2px #9b1094;
}
.blue {
  background: #7e7fb4;
  box-shadow: 0px 0px 10px 2px #0b0d7a;
}
.green {
  background: #87b47e;
  box-shadow: 0px 0px 10px 2px #21a706;
}
.red {
  background: #b47e7e;
  box-shadow: 0px 0px 10px 2px #880606;
}
.purple {
  background: #9e7eb4;
  box-shadow: 0px 0px 10px 2px #58098d;
}

#related-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 1.5rem;
}

.lower-card {
  height: 60px;
  width: 320px;
  display: grid;
  place-items: center;
  font-family: ElMessiri;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
#formation {
  opacity: 0;
  animation: appear 1s ease forwards 0.5s;
}
#gallery {
  opacity: 0;
  animation: appear 1s ease forwards 0.75s;
}
#work {
  opacity: 0;
  animation: appear 1s ease forwards 1s;
}
a {
  color: var(--light-color);
  transition: all 0.2s linear;
}
a:hover {
  background: #87b47eea;
  scale: 1.05;
}
