:root{
    --dark-color: #111;
    --light-color: #f1f1f1;
    --dark-gradient: linear-gradient(45deg, #040539ff, #050539ff, #05053Aff, #06043Aff, #06043Bff, #07043Bff, #08043Bff, #08043Cff, #09043Cff, #0A033Dff, #0A033Dff, #0B033Eff, #0B033Eff, #0C033Eff, #0D033Fff, #0D023Fff, #0E0240ff, #0F0240ff, #0F0240ff, #100241ff, #100241ff, #110142ff, #120142ff, #120143ff, #130143ff, #140143ff, #140144ff, #150044ff, #150045ff, #160045ff);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@font-face {
    font-family: "DancingScript";
    src: url(../font/DancingScript-Regular.ttf);
}
@font-face {
    font-family: "ElMessiri";
    src: url(../font/ElMessiri-Regular.ttf);
}
main{
    width: 100vw;
    height: 100vh;
    color: var(--light-color);
    background: var(--dark-gradient);
    display: grid;
    place-items: center;
    animation: colorSwitch 15s linear infinite;
}
/* @keyframes colorSwitch {
    from{
        background: blue;
    }
    to{
        background: purple;
    }
} */
#infos{
    width: 320px;
    height: 160px;
    border-radius: 5px;
    background: #040539de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 0px 1px 0px #ffffff;
}
#infos h1{
    font-size: 3rem;
    font-family: DancingScript;
}
#infos p{
    font-size: 1.5rem;
    font-family: ElMessiri;
}
#container{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.ray{
    position: absolute;
    animation: falling 15s linear infinite;
    top: -100px;
    z-index: 0;
    width: 2px;
    height: 100px;
    border-radius: 1px;
    background: #f1f1f1;
}
@keyframes falling {

    from{
        transform: translate(0,0) rotate(-45deg);
    }

    to{
        transform: translate(1300px,1300px) rotate(-45deg);
    }

}
.pink{
    background: #b47eb1;
    box-shadow: 0px 0px 10px 1px #9b1094;
}
.blue{
    background: #7e7fb4;
    box-shadow: 0px 0px 10px 1px #0b0d7a;
}
.green{
    background: #87b47e;
    box-shadow: 0px 0px 10px 1px #21a706;
}
.red{
    background: #b47e7e;
    box-shadow: 0px 0px 10px 1px #880606;
}
.purple{
    background: #9e7eb4;
    box-shadow: 0px 0px 10px 1px #58098d;
}